@font-face {
	font-family: "Raleway-Light";
	font-style: "sans-serif";
	font-weight: "light";
	src: url('../fonts/Raleway-Light.ttf');
}

@font-face {
	font-family: "Rosario-Regular";
	font-style: "sans-serif";
	font-weight: "normal";
	src: url('../fonts/Rosario-Regular.ttf');
}

.table{
	padding-top: 60px;
}
.container{
	-webkit-user-select: none;
}
#sample-profile {
	background-color: #FFFEFD;
}

h1{
	padding-top: 60px;
	font-family: "Raleway-Light";
}

h4 {
	padding-top: 1.5vh;
	font-family: sans-serif;
}

img {
	padding-top: 60px;
}

#portrait {
	padding-top: 0px;
	height: 40vh;
	
}

#classList {
	font-family: "Raleway-Light";
}

#new-profile {
	height: 100vh;
}

label{
	padding-top: 10px;
}

#submit-button{
	height: 40px;
	margin-bottom: 30px;
}

#welcome-div{
	margin-top: 25vh;
}
h1#welcome-text{
	padding-left: 0%;
	padding-top: 0vh;
	font-family: "Raleway-Light";
	color: #FFFEFD;
	font-size: 90px;
	z-index: 1000;
	position: fixed;
	right:0px;
	left: 0px;
	display: block;

}

.background-image {
	position: fixed;
	right:0px;
	left: 0px;
	height: 100vh;
	z-index: -1;
	background-image: url('../imgs/welcome-background.jpg');
	-webkit-filter: blur(1px);
}

#sample-profile-btn{
	z-index: 2000;
}

#buttons{
	margin-top: 20vh;
}

#button-group{
	opacity: 0.75;
}

#subheader-text {
	position: fixed;
	right: 0px;
	left: 0px;
	font-family: "Raleway-Light";
	color: #FFFEFD;
}