/* @author: Ryan Dean
   @description: Styling for the web part of the live project.
*/

@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:200);
@font-face {
	font-family: "Raleway-Light";
	font-style: "sans-serif";
	font-weight: "light";
	src: url('../fonts/Raleway-Light.ttf');
}

html {
	-webkit-user-select: none;
}

#welcome-header {
	text-align: center;
	margin-top: 15vh;
}

#student-img {
	border-radius: 5px;
	margin-top:10vh;
	margin-left: -5%;
	width: 100%;

}

#welcome-detail {
	margin-top: 5vh;
}

#welcome-third {
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #F5F7FA;
	height: 23vh;
}

h1 {
	font-family: 'Ek Mukta', sans-serif;
	font-weight: lighter;
	/*font-size: 5em;*/
	color: #F5F7FA;
}

#company-title {

}

h3 {
	font-family: 'Ek Mukta', sans-serif;
	color: #F5F7FA;
	text-align: center;
}

p {
	font-family: 'Ek Mukta', sans-serif;
	font-size: 1.5em;
	color: #F5F7FA;
	padding-left: 5%;
	padding-right: 5%;
}

.nav-container {
	background-color: #FFFFFF;
}

body {
	background: #50c1e9;
}

#right {
	float: right;
}

#students {
	z-index: 10000;
	background-color: #F5F7FA;
	height: 70vh;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

#admin {
	background: #F2F2F2;
	height: 40vh;
	width: 100%;
}

#parents {
	background: #FFFEFE;
	height: 40vh;
	width: 100%;
	color: #F2F2F2;
	overflow: hidden;
}

#intro {
	height: 75vh;
	margin-bottom: 10vh;
}

#sub-div {
	text-align: center;
	color: #434A54;
}

#welcome-detail-glyph {
	color: #FFFFFF;
	font-size: 3em;
}

.point {
	cursor: pointer;
}

.third-text {
	padding-top: 2vh;
}

#construction-img {
	height: 40vh;
	-webkit-filter: invert(100%);
}

#construction-row {
	margin-top: 25vh;
}

#construction-text {
	text-align: left
}

#construction-back-btn {
	margin-top: -20vh;
}

.dropdown-menu {
	width: 100%;
}

#login-box {
	margin-top: 30vh;
	background-color: #FFFFFF;
	border-radius: 5px;
}

#login-box > h1 {
	color: #AAB2BD;
	text-align: center;
}

#login-form-btn {
	width: 75%;
	height: 5vh;
	margin-bottom: 2vh;
}

#student-desc {
	color: #000000;
}

#z404-header-text{
	text-align: center;
	margin-top: 15vh;
}

/*#student-head-text{
	color: #;
}*/

#asit-glance-container{
	height: 100vh;
	width: 100%;
}