/* @author: Ryan Dean
   @description: Styling for the web part of the live project.
*/


@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:200);
@font-face {
	font-family: "Raleway-Light";
	font-style: "sans-serif";
	font-weight: "light";
	src: url('../fonts/Raleway-Light.ttf');
}
html{
	-webkit-user-select: none;
}
#gn-menu{
	z-index: 9000;
}
#welcome-header{
	text-align: center;
	margin-top: 20vh;

}
#student-img{
	border-radius: 5px;
	margin-top: -10vh;
	height: 20vh;
}

#welcome-detail{
	margin-top: 5vh;
}

#welcome-third{
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #FFFFFF;
	height: 23vh;
}

h1{
	font-family: 'Ek Mukta', sans-serif;
	font-size: 5em;
	color: #FFFFFF;
}

h3{
	font-family: 'Ek Mukta', sans-serif;
	font-size: 2.5em;
	color: #FFFFFF;
	text-align: center;
}

p{
	font-family: 'Ek Mukta', sans-serif;
	font-size: 1.5em;
	color: #FFFFFF;
	padding-left: 5%;
	padding-right: 5%;
}

.nav-container{
	background-color: #FFFFFF;
}

body{
	background: #5f6f81;
}

#right{
	float: right;
}

#students{
	z-index: 10000;
	background-image: url('../imgs/student.jpg');
	height: 40vh;
	width: 100%;
}
#admin{
	background: #F2F2F2;
	height: 40vh;
	width: 100%;
}
#parents-background{
	background-image: url('../imgs/parent.jpg');
	-webkit-filter: blur(15px);
	height:40vh;

}
#parents{
	margin-top: -40vh;
	/*background: #FFFEFE;*/
	height: 40vh;
	width: 100%;
	color: #F2F2F2;
	overflow: hidden;
}
#intro{
	height: 100vh;
	
}
#sub-div{
	text-align: center;
	color: #000000;
}
#user{
	color: #FFFFFF;
	font-size: 3em;
}
/*fix this so it is one class styling for efficency.*/
.student-link{
	cursor: pointer;
}
.parent-link{
	cursor: pointer;
}
.admin-link{
	cursor: pointer;
}
.third-text{
	padding-top: 2vh;
}
#construction-img {
	height: 40vh;
	-webkit-filter: invert(100%);
}
#construction-row {
	margin-top: 25vh;
}
#construction-text{
	text-align: left
}
#construction-back-btn{
	margin-top: -20vh;
}
.dropdown-menu{
	width: 100%;
}