<div class="container" id="sample-profile">
	<div class="row">
		<div class="col-xs-6">
			<h1>About Ryan</h1>
			<h4>ID: 1</h4>
			<h4>Name: Ryan Dean</h4>
			<h4>Grade: 11</h4> 
			<h4>Year of Graduation: 2016</h4>
			<h4>Date of Birth: 5/9/1998</h4>
			<h4>Classes:</h4>
			<ul id="classList">
				<li>Oracle Database Design</li>
				<li>Advanced Web Design</li>
				<li>Intro To Calc</li>
				<li>PE/Health</li>
				<li>Study Hall</li>
				<li>Yearbook</li>
				<li>History</li>
				<li>Physics</li>
				<li>English</li>
			</ul>
			<h4>About Me:</h4>
			<ul id="classList">
				<p>Ryan Dean is a junior at AMSA Charter School in Marlborough, MA.  He enjoys photography.  His favorite things to take photos of are his friends and sports.  Ryan also plays Varsity baseball for his school team as a catcher and 3rd baseman.  In his free time, Ryan enjoys coding.  He can code in several languages including Java, JavaScript, CSS, HTML, and a little bit of mySQL.</p>
			</ul>		
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<img src="imgs/logo.jpg"></img>
			<img id="portrait" src="imgs/Ryan_Dean2.JPG">
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>