<div class="container" id="sample-profile">
		<div class="row">
			<div class="col-xs-6">
			<h1 id="new-head">About {{fName}}</h1>
				<h4>Name: {{fName}} {{lName}}</h4>
				<h4>Grade: {{grade}}</h4> 
				<h4>Year of Graduation: {{yog}}</h4>
				<h4>Date of Birth: {{dob}}</h4>
				<h4>Classes:</h4>
				<ul id="classList">
					<li>{{classess}}</li>
				</ul>
				<h4>About Me:</h4>
				<ul id="classList">
					<p>{{abt}}</p>
				</ul>
				
			</div>
			<div class="col-xs-1"></div>
			<div class="col-xs-4">
				<img src="imgs/logo.jpg"></img>
				<img id="portrait" src="{{imgPath}}"></img>
			</div>
			<div class="col-xs-1"></div>
		</div>
</div>
