@font-face {
	font-family: "Raleway-Light";
	font-style: "sans-serif"; 
	font-weight: "light";
	src: url('../fonts/Raleway-Light.ttf');
}

@font-face {
	font-family: "Rosario-Regular";
	font-style: "sans-serif";
	font-weight: "normal";
	src: url('../fonts/Rosario-Regular.ttf');
}
html{
	-webkit-user-select: none;
}
#sample-profile {
	background-color: #FFFEFD;
}

h1{
	padding-top: 60px;
	font-family: "Raleway-Light";
}

h4 {
	padding-top: 1.5vh;
	font-family: "Raleway-Light";
}

img {
	padding-top: 60px;
}

#portrait {
	padding-top: 0px;
	height: 40vh;
	
}

#classList {
	font-family: "Raleway-Light";
}

pre{
	padding-top: 10px;
}
#new-profile {
	height: 100vh;
}

label{
	padding-top: 10px;
}

#submit-button{
	height: 40px;
	margin-bottom: 30px;
}

#welcome-div{
	margin-top: 25vh;
}
h1#welcome-text{
	padding-left: 0%;
	padding-top: 0vh;
	font-family: "Raleway-Light";
	color: #FFFEFD;
	font-size: 90px;
	z-index: 1000;
	position: fixed;
	right:0px;
	left: 0px;
	display: block;

}

.background-image {
	position: fixed;
	right:0px;
	left: 0px;
	height: 100vh;
	z-index: -1;
	background-image: url('../imgs/welcome-background.jpg');
	-webkit-filter: blur(1px);
}

#sample-profile-btn{
	z-index: 2000;
}

#buttons{
	margin-top: 20vh;
}

#button-group{
	opacity: 0.75;
}

#subheader-text {
	position: fixed;
	right: 0px;
	left: 0px;
	font-family: "Raleway-Light";
	color: #FFFEFD;
}

#tableBtn {
	float: right;
	margin-right: 3%;
}

#checkbox-col{
	position: relative;
	top: 0px;
	bottom: 0px;
}

.navbar{
	font-family: "Raleway-Light";
}

#construction-row{
	margin-top: 20vh;
}

#construction-img{
	height: 50vh;
	-webkit-filter: opacity(0.35);
	filter: opacity(0.35);
}

#construction-btn-container {
	margin-top: -20vh;
}

#construction-btn {
	width: 75%;
	font-family: "Raleway-Light";
}

#student-table-row{
	margin-top: 5vh;
}
.panel-heading{
	font-family: "Raleway-Light";
	font-size: 20px;
}