@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:200);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

#home-header{
	text-align: center;
	margin-top: 50px;
}

input.submit {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}

#selectable-row:hover{
	background-color: #F2F2F2
	
}
#selectable-row{
	cursor: pointer;
}
.panel-body{
	width: 100%;
	padding: 0px;
}
#home-buttons{
	margin-top: 10vh;
}
.form-label{
	color: #000000;
	font-weight: normal;
}
h3{
	
	color: #000000;
}
#course-submit{
	width: 50%;
	margin-bottom: 2vh;
}

#new-course-tbl{
	margin-top: 2vh;
}
#new-course-courses{
	margin-top: 5vh;
}
#gn-menu{
	z-index: 9000;
}

p#panel{
	color: #000000;
}

span#panel-gray{
	color: #999999;
}
.help-block{
	font-size: 1.5em;
}

#student-profile-container-top{
	margin-top: 20vh;
	padding-bottom: 5vh;
	background-color: #FFFFFF;
	border-radius: 6px;
	
}

#student-profile-pic{
	height: 20vh;
	border-radius: 6px;
	margin-top: -5vh;
	margin-left: -60%;
}

h4{
	/*margin-left: -20%;*/
	font-size: 4em;
	font-family: 'Lato', sans-serif;
}

#student-profile-school{
	margin-top: -7vh;
}

.nav-tabs{
	position: relative;
	right: 5%;
	float: right;
}

#about{
	background-color: #FFFFFF;
}

hr{
	border-bottom-style: solid;
	border-bottom-width: 0.15vh;
	border-bottom-color: #C3C3C3;
	width: 100%;
}

h5{
	font-size: 3em;
	font-family: 'Lato', sans-serif;
}

#classes{
	margin-top: 2vh;
}

.caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 1vh;
    opacity: 0.3;
    top: 0px;
    bottom: 0px;
    width: 1%;
    /*float: right;*/

}

#glyph{
	text-align: center;
	width: 60px;
}

.panel{
	font-family: 'Lato', sans-serif;
	/*font-size: 1.25em;*/
}

#navbar-profile-img{
	height: 3vh;
	width: 3%;
}